div {  background-color: black;
  width: 900px;
  min-height: 20px;
  padding: 50px;
  margin: auto;
  margin-top: 20px;
  border: dotted 20px #a65d14;
  font-size: 20px;
  color: white;
  font-family: copperplate;
}
div {
  margin: auto;
}
  body {
    background-image: repeating-radial-gradient(#D93E30, #F27244 10%, #F28F16 20%);
    background-color: #c22121;
}
