#html_homepage {
  margin: 500px;

}
#html_browser {
  margin: 500px;
}
#intro {
  background-color: purple;
  width: 900px;
  min-height: 350px;
  padding: 80px;
  margin: auto;
  margin-top: 50px;
  border: dotted 20px yellow;
  font-size: 20px;
}

#labs {
  background-color: green;
  width: 900px;
  min-height: 350px;
  padding: 80px;
  margin: auto;
  margin-top: 50px;
  border: dotted 20px yellow;
  font-size: 20px;
}
